<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-menu-toggle>
        <ion-item routerDirection="root" [routerLink]="['/', 'menu', 'tracker']">
          <ion-icon name="cash" slot="start"></ion-icon>
          <ion-label>
            Expense Tracking
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
          <ion-item routerDirection="root" routerLink="/menu/settings">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>
              Settings
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content"></ion-router-outlet>